.App {
  text-align: center;
}

h1 {
  color: green;
  font-size: 4rem;
}
.container {
  display: flex;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.reset {
  color: greenyellow;
}
.main-container {
  height: 100vh;
  background-color: plum;
}
