.App {
  text-align: center;
}

h1 {
  color: green;
  font-size: 4rem;
}
.container {
  display: flex;
}
.reset {
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: plum;
}
